
	<aside class="navbar">
		<div>
			<ul>
				<li><a [routerLink]="[ './InicioMapas' ]">Acceder</a></li>
			</ul>
		</div>
	</aside>


	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="index.html" class="logo">
						<h2>CENTROS RECREATIVOS</h2> by UFPS
					</a>

					<ul class="icons">
						<li><a href="https://ww2.ufps.edu.co/"><span class="label">Ufps</span></a></li>
						<li><a href="https://www.facebook.com/Ufps.edu.co"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/ufpscucuta/"><span class="label">Instagram</span></a>
						</li>
					</ul>
				</header>

				<!-- Banner -->
				<section id="banner">

					<span class="image object">
						<img alt="imagen"
							src="https://fotografias.lasexta.com/clipping/cmsimages01/2016/04/11/DABD7932-E443-48B5-821A-C7DFAF433161/default.jpg"
							alt="" />
					</span>
				</section>

				<section class="banner">
					<div class="content">

							<h1></h1>
							<p>
								La aplicación software será pública para el acceso de todos los usuarios, donde podrán
								consultar en su comuna o en otras comunas los diferentes centros recreativos que están
								en las comuna 4 y 7 de ciudad de Cúcuta y algunos del municipio de los patios, podrán
								visualizar el estado de está si en el momento se encuentra disponible u ocupada y ver su
								calificación respecto por parte de la comunidad.

							</p>


					</div>

				</section>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Que puedes hacer</h2>
					</header>
					<div class="features">
						<article>
							<span class="icon fa-gem"></span>
							<div class="content">
								<h3>Visualizar el mapa</h3>
								<p>los diferentes centros recreativos categorizados por comunas.
									.</p>
							</div>
						</article>
						<article>
							<span class="icon solid fa-paper-plane"></span>
							<div class="content">
								<h3>Informacion</h3>
								<p>Mostrar el detalle de cada centro recreativo.
								</p>
							</div>
						</article>
						<article>
							<span class="icon solid fa-rocket"></span>
							<div class="content">
								<h3>Estado</h3>
								<p>Permitir marcar el centro recreativo como ocupado y libre.
								</p>
							</div>
						</article>
						<article>
							<span class="icon solid fa-signal"></span>
							<div class="content">
								<h3>Calificacion</h3>
								<p>Calificar con estrellas el centro recreativo.
								</p>
							</div>
						</article>

					</div>
				</section>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Centros Recreativos Destacados</h2>
					</header>
					<div class="posts">
						<article>
							<a href="#" class="image"><img alt="imagen"
									src="https://www.laopinion.com.co/sites/default/files/2017/06/08/imagen/11noviembre.jpg"
									alt="" /></a>
							<h3>Cancha 11 De Noviembre,Los Patios</h3>
							<p>La cancha de tierra, que por más de 40 años sirvió de semillero deportivo a decenas de
								escuelas de formación deportiva del barrio 11 de Noviembre y los barrios aledaños, en
								Los Patios, se ha convertido en la mayor atracción del sector.</p>

						</article>
						<article>
							<a href="#" class="image"><img alt="imagen"
									src="https://pbs.twimg.com/media/D1jlh-vWsAEs5KG?format=jpg" alt="" /></a>
							<h3>Cancha Gramillada La Sabana</h3>
							<p>Dirección: a 33-132, Cra. 5 #33-2, Los Patios, Norte de Santander</p>

						</article>
						<article>
							<a href="#" class="image"><img alt="imagen"
									src="https://www.laopinion.com.co/sites/default/files/2018/07/06/imagen/biosalu.jpg"
									alt="" /></a>
							<h3>cancha en Buenos Aires</h3>
							<p>Una cancha sintética de fútbol con gradería, una cancha multifuncional con techo, un
								parque infantil, un parque de juegos biosaludables, la cicloruta, los senderos
								peatonales y las zonas verdes. Esto será el complejo deportivo que tendrá el barrio
								Buenos Aires, en Atalaya.</p>

						</article>
						<article>
							<a href="#" class="image"><img alt="imagen"
									src="https://ligadepatinajends.com/web/wp-content/uploads/2018/06/e2f9dc7d-30cd-422d-9cbc-18fa92ffd6eb.jpg"
									alt="" /></a>
							<h3>Patinodromo Atalaya </h3>
							<p>En este patinadero, entrenan diariamente más de 40 niños, quienes adelantan su proceso de
								formación y pueden realizar sus trabajos sin dificultad e inconvenientes.

							</p>

						</article>
						<article>
							<a href="#" class="image"><img alt="imagen"
									src="https://www.laopinion.com.co/sites/default/files/2018/12/14/imagen/ninos.jpg"
									alt="" /></a>
							<h3>Cancha Baloncesto Cucuta</h3>
							<p>“Queremos no solo que hayan muchos niños y jóvenes jugando baloncesto, sino que además
								tengan espacios para competir y mostrar sus habilidades”</p>

						</article>
						<article>
							<a href="#" class="image"><img alt="imagen"
									src="https://www.laopinion.com.co/sites/default/files/2015/09/08/imagen/metros1.jpg"
									alt="" /></a>
							<h3>Patinodromo Prados del Este</h3>
							<p>
								ubicado en la avenida 4 entre calles 6 y 7, </p>

						</article>
					</div>
				</section>

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">

				<!-- Search -->
				<section id="search" class="alt">
					<form method="post" action="#">
						<input type="text" name="query" id="query" placeholder="Buscar" />
					</form>
				</section>


				<!-- Section -->
				<section>
					<header class="major">
						<h2>Nuestra UFPS</h2>
					</header>
					<p>La Universidad Francisco de Paula Santander es una Institución Pública de Educación Superior,
						orientada al mejoramiento continuo y la calidad en los procesos de docencia, investigación y
						extensión, en el marco de estrategias metodológicas presenciales, a distancia y virtuales, cuyo
						propósito fundamental es la formación integral de profesionales comprometidos con la solución de
						problemas del entorno, en busca del desarrollo sostenible de la región.</p>
					<ul class="contact">
						<li class="icon solid fa-envelope"><a href="#">ugad@ufps.edu.co</a></li>
						<li class="icon solid fa-phone">(057)(7) 5776655</li>
						<li class="icon solid fa-home">Avenida Gran Colombia No. 12E-96 Barrio Colsag<br />
							San José de Cúcuta - Colombia</li>
					</ul>
				</section>

				<!-- Footer -->
				<footer id="footer">
					<p class="copyright">&copy;Omar Ramon, Camilo Jauregui,Yeison Barbosa Design: <a
							href="https://html5up.net">HTML5 UP</a>.</p>
				</footer>

			</div>
		</div>

	</div>
<!--
	<!-- Scripts
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script> --> -->
