<div class="bg-dark">
    <div class="container">
        <div class="row align-items-center" style="min-height:100vh">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <app-detalle-centro #modalDetalleCentro></app-detalle-centro>
                        <button type="button" class="d-none" data-toggle="modal" data-target="#modalDetalleCentro"
                          #showModalDetalleCentro></button>
                        <h3 class="text-center">CENTROS RECREATIVOS DE CÚCUTA</h3>
                        <div class="d-flex justify-content-center">
                            <a [routerLink]="[ '/inicio/signin' ]" onclick="return false;" class="btn btn-outline-primary">Ingresar</a>
                        </div>
                        <div id="myMap" style="width: 100%; height: 85vh; margin-top: 1em;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
